/.next
/coverage
/node_modules
/playwright-report
/test-results

.DS_Store
*.log
*.tmp
.env
.env.local
.env.production
.env.test
.neon-branch-state.json

./claude/skills/frontend-design/*
./claude/skills/vercel-react-best-practices/*
